alabaster==0.7.13 ; python_version >= "3.8" and python_version < "4.0"
atomicwrites==1.4.1 ; python_version >= "3.8" and python_version < "4.0" and sys_platform == "win32"
attrs==23.2.0 ; python_version >= "3.8" and python_version < "4.0"
babel==2.15.0 ; python_version >= "3.8" and python_version < "4.0"
backports-tarfile==1.1.1 ; python_version >= "3.8" and python_version < "3.12"
certifi==2024.2.2 ; python_version >= "3.8" and python_version < "4.0"
cffi==1.16.0 ; python_version >= "3.8" and python_version < "4.0" and sys_platform == "linux" and platform_python_implementation != "PyPy"
cfgv==3.4.0 ; python_version >= "3.8" and python_version < "4.0"
charset-normalizer==3.3.2 ; python_version >= "3.8" and python_version < "4.0"
click==7.1.2 ; python_version >= "3.8" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.8" and python_version < "4.0"
coverage==7.5.1 ; python_version >= "3.8" and python_version < "4.0"
cryptography==42.0.7 ; python_version >= "3.8" and python_version < "4.0" and sys_platform == "linux"
distlib==0.3.8 ; python_version >= "3.8" and python_version < "4.0"
docutils==0.16 ; python_version >= "3.8" and python_version < "4.0"
filelock==3.14.0 ; python_version >= "3.8" and python_version < "4.0"
identify==2.5.36 ; python_version >= "3.8" and python_version < "4.0"
idna==3.7 ; python_version >= "3.8" and python_version < "4.0"
imagesize==1.4.1 ; python_version >= "3.8" and python_version < "4.0"
importlib-metadata==7.1.0 ; python_version >= "3.8" and python_version < "4.0"
importlib-resources==6.4.0 ; python_version >= "3.8" and python_version < "3.9"
iniconfig==2.0.0 ; python_version >= "3.8" and python_version < "4.0"
jaraco-classes==3.4.0 ; python_version >= "3.8" and python_version < "4.0"
jaraco-context==5.3.0 ; python_version >= "3.8" and python_version < "4.0"
jaraco-functools==4.0.1 ; python_version >= "3.8" and python_version < "4.0"
jeepney==0.8.0 ; python_version >= "3.8" and python_version < "4.0" and sys_platform == "linux"
jinja2==3.1.4 ; python_version >= "3.8" and python_version < "4.0"
keyring==25.2.0 ; python_version >= "3.8" and python_version < "4.0"
markupsafe==2.1.5 ; python_version >= "3.8" and python_version < "4.0"
more-itertools==10.2.0 ; python_version >= "3.8" and python_version < "4.0"
nh3==0.2.17 ; python_version >= "3.8" and python_version < "4.0"
nodeenv==1.8.0 ; python_version >= "3.8" and python_version < "4.0"
packaging==24.0 ; python_version >= "3.8" and python_version < "4.0"
pkginfo==1.10.0 ; python_version >= "3.8" and python_version < "4.0"
platformdirs==4.2.1 ; python_version >= "3.8" and python_version < "4.0"
pluggy==1.5.0 ; python_version >= "3.8" and python_version < "4.0"
pockets==0.9.1 ; python_version >= "3.8" and python_version < "4.0"
pre-commit==2.21.0 ; python_version >= "3.8" and python_version < "4.0"
py==1.11.0 ; python_version >= "3.8" and python_version < "4.0"
pycparser==2.22 ; python_version >= "3.8" and python_version < "4.0" and sys_platform == "linux" and platform_python_implementation != "PyPy"
pygments==2.18.0 ; python_version >= "3.8" and python_version < "4.0"
pytest==6.2.5 ; python_version >= "3.8" and python_version < "4.0"
pytest-cov==2.12.1 ; python_version >= "3.8" and python_version < "4.0"
pytz==2024.1 ; python_version >= "3.8" and python_version < "3.9"
pywin32-ctypes==0.2.2 ; python_version >= "3.8" and python_version < "4.0" and sys_platform == "win32"
pyyaml==6.0.1 ; python_version >= "3.8" and python_version < "4.0"
readme-renderer==43.0 ; python_version >= "3.8" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.8" and python_version < "4.0"
requests-toolbelt==1.0.0 ; python_version >= "3.8" and python_version < "4.0"
rfc3986==2.0.0 ; python_version >= "3.8" and python_version < "4.0"
secretstorage==3.3.3 ; python_version >= "3.8" and python_version < "4.0" and sys_platform == "linux"
setuptools==69.5.1 ; python_version >= "3.8" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.8" and python_version < "4.0"
snowballstemmer==2.2.0 ; python_version >= "3.8" and python_version < "4.0"
sphinx==3.5.4 ; python_version >= "3.8" and python_version < "4.0"
sphinx-rtd-theme==0.5.2 ; python_version >= "3.8" and python_version < "4.0"
sphinx-theme==1.0 ; python_version >= "3.8" and python_version < "4.0"
sphinxcontrib-applehelp==1.0.4 ; python_version >= "3.8" and python_version < "4.0"
sphinxcontrib-devhelp==1.0.2 ; python_version >= "3.8" and python_version < "4.0"
sphinxcontrib-htmlhelp==2.0.1 ; python_version >= "3.8" and python_version < "4.0"
sphinxcontrib-jsmath==1.0.1 ; python_version >= "3.8" and python_version < "4.0"
sphinxcontrib-napoleon==0.7 ; python_version >= "3.8" and python_version < "4.0"
sphinxcontrib-qthelp==1.0.3 ; python_version >= "3.8" and python_version < "4.0"
sphinxcontrib-serializinghtml==1.1.5 ; python_version >= "3.8" and python_version < "4.0"
toml==0.10.2 ; python_version >= "3.8" and python_version < "4.0"
tqdm==4.66.4 ; python_version >= "3.8" and python_version < "4.0"
twine==3.8.0 ; python_version >= "3.8" and python_version < "4.0"
urllib3==2.2.1 ; python_version >= "3.8" and python_version < "4.0"
virtualenv==20.26.1 ; python_version >= "3.8" and python_version < "4.0"
zipp==3.18.1 ; python_version >= "3.8" and python_version < "4.0"
